@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@400;500;600;700&display=swap");
body {
    background-color: rgb(165, 231, 248);
}

.header {
    padding: 0 4.8rem;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 2px solid blue;
}

.navbar-list {
    padding: 2rem 5rem 2rem;
    display: flex;
    gap: 4rem;
    list-style: none;
    text-decoration-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

.center-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 40px;
    width: 300px;
    height: 320px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.text-field {
    padding: 10px 30px;
    margin: 20px 0;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 12pt;
    color: rgb(0, 0, 0);
}

.btn-style {
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
    color: rgb(0, 42, 104);
}

.btn-style:hover {
    background-color: rgb(165, 231, 248);
    color: white;
}

.an-btn {
    margin-top: 10px;
    border: 0;
    background-color: rgb(165, 231, 248);
    color: rgb(2, 15, 99);
    font-size: 11pt;
}

#register-div {
    display: none;
}

#result-box {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16pt;
    color: white;
}